.technology-content {
  p {
    color: #454545;
    font-size: 12px !important;
    @media (misn-width: 640px) {
      font-size: 14px !important;
    }
    @media (min-width: 768px) {
      font-size: 16px !important;
    }
    @media (min-width: 1024px) {
      font-size: 18px !important;
    }
  }

  ul {
    li {
      list-style-type: disc;
      margin-left: 24px;
      color: #454545;
      font-size: 12px !important;
      @media (misn-width: 640px) {
        font-size: 14px !important;
      }
      @media (min-width: 768px) {
        font-size: 16px !important;
      }
      @media (min-width: 1024px) {
        font-size: 18px !important;
      }
    }
  }
}
